*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


html{
  scroll-behavior: smooth;
}

.new_first_blog, .service_section, .footere{
  overflow-x: hidden;
  width: 100%; 
}


::selection{
  background-color: #ff1d1d;
  color: white;
}


/* navbar  start */


a{
  text-decoration: none;
}

li{
  list-style: none;
}

/* 
div{
  padding-right: 0;
} */

  
  /* BURGER MENU */
  .custom-toggler .navbar-toggler-icon {
    font-weight: 900;
    box-shadow: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,29,29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .logo-img img {
    width: 200px;
    height: 70px;
  }
  
  .navbar-toggler {
    border: none;
    color: #fff;
    padding: 2px 6px;
  }
  
  .navbar-toggler-icon {
    /* background-color: #fff; */
    color: red;
    font-size: 30px;
  }


  .site-header{
    background-color: rgb(34, 34, 73);
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}



.sitenav-item-link{
  color: #ffff;
  transition: all .7s ease;
}

.sitenav-item-link:hover {
  color: #ff1d1d;
}


.dropdown-item{
  white-space: break-spaces;
}


.dropdown-menu-offcansvas{
  background-color: #222249;
  color: #fff;
}

.dropdown-menu-offcansvas a{
  color:#fff;
}


.offcanvas.offcanvas-end{
    width: 300px;
    border-radius: 5px;
  }

.offcanvas-header{
    width: 300px;
    background-color: #222249;
  }

.offcanvas-body{
  background-color: #222249;
}



  .nav-item {
    padding-top: 10px;
    padding-left: 20px;
}


.offcanvas-nav-item{
  font-size: 25px;
}


.nav-pills {
  align-items: center;
  margin-top: 30px;
}

.nav-link{
color:white;
  }

.nav-link:hover{
    color: #ff1d1d;
}

.nav-link:focus{
  color: #ff1d1d;
}

.nav-link:active{
  color: #ff1d1d;
}



/* background animation  */

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #222249;
  overflow: hidden;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 48;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #ff1d1d;
  top: 15%;
  left: 38%;
  animation-duration: 11s;
  animation-delay: -10s;
  transform-origin: 19vw -9vh;
  box-shadow: -2vmin 0 0.279183347736093vmin currentColor;
}
.background span:nth-child(1) {
  color: #ff1d1d;
  top: 47%;
  left: 96%;
  animation-duration: 17s;
  animation-delay: -2s;
  transform-origin: 11vw -15vh;
  box-shadow: 2vmin 0 0.31811827748927235vmin currentColor;
}
.background span:nth-child(2) {
  color: #ff1d1d;
  top: 20%;
  left: 10%;
  animation-duration: 25s;
  animation-delay: -14s;
  transform-origin: -14vw 13vh;
  box-shadow: -2vmin 0 0.40687666709585324vmin currentColor;
}
.background span:nth-child(3) {
  color: #ff1d1d;
  top: 93%;
  left: 98%;
  animation-duration: 10s;
  animation-delay: -14s;
  transform-origin: -5vw 20vh;
  box-shadow: -2vmin 0 1.1043725434863014vmin currentColor;
}
.background span:nth-child(4) {
  color: #ff1d1d;
  top: 3%;
  left: 81%;
  animation-duration: 11s;
  animation-delay: -11s;
  transform-origin: 22vw -3vh;
  box-shadow: -2vmin 0 0.5856963195893565vmin currentColor;
}
.background span:nth-child(5) {
  color: #ff1d1d;
  top: 37%;
  left: 25%;
  animation-duration: 21s;
  animation-delay: -6s;
  transform-origin: -1vw -6vh;
  box-shadow: 2vmin 0 1.188995818753196vmin currentColor;
}
.background span:nth-child(6) {
  color: #ff1d1d;
  top: 40%;
  left: 44%;
  animation-duration: 24s;
  animation-delay: -14s;
  transform-origin: 2vw 0vh;
  box-shadow: 2vmin 0 0.8281723720193996vmin currentColor;
}
.background span:nth-child(7) {
  color: #ff1d1d;
  top: 46%;
  left: 95%;
  animation-duration: 13s;
  animation-delay: -14s;
  transform-origin: 24vw -6vh;
  box-shadow: 2vmin 0 0.6674717426248868vmin currentColor;
}
.background span:nth-child(8) {
  color: #ff1d1d;
  top: 2%;
  left: 8%;
  animation-duration: 19s;
  animation-delay: -15s;
  transform-origin: 22vw -2vh;
  box-shadow: -2vmin 0 0.29073948057681465vmin currentColor;
}
.background span:nth-child(9) {
  color: #ff1d1d;
  top: 14%;
  left: 75%;
  animation-duration: 13s;
  animation-delay: -8s;
  transform-origin: -9vw -11vh;
  box-shadow: -2vmin 0 0.5769298487441241vmin currentColor;
}
.background span:nth-child(10) {
  color: #ff1d1d;
  top: 4%;
  left: 49%;
  animation-duration: 11s;
  animation-delay: -20s;
  transform-origin: 10vw 13vh;
  box-shadow: 2vmin 0 0.6023152073193445vmin currentColor;
}
.background span:nth-child(11) {
  color: #ff1d1d;
  top: 77%;
  left: 54%;
  animation-duration: 16s;
  animation-delay: -7s;
  transform-origin: 20vw 10vh;
  box-shadow: -2vmin 0 0.32527354475998593vmin currentColor;
}
.background span:nth-child(12) {
  color: #ff1d1d;
  top: 30%;
  left: 100%;
  animation-duration: 19s;
  animation-delay: -15s;
  transform-origin: -5vw -23vh;
  box-shadow: -2vmin 0 0.3780827867529035vmin currentColor;
}
.background span:nth-child(13) {
  color: #ff1d1d;
  top: 19%;
  left: 80%;
  animation-duration: 20s;
  animation-delay: -12s;
  transform-origin: 20vw 25vh;
  box-shadow: 2vmin 0 0.3463861947114877vmin currentColor;
}
.background span:nth-child(14) {
  color: #ff1d1d;
  top: 57%;
  left: 58%;
  animation-duration: 13s;
  animation-delay: -15s;
  transform-origin: 13vw -24vh;
  box-shadow: 2vmin 0 0.9474145239731433vmin currentColor;
}
.background span:nth-child(15) {
  color: #ff1d1d;
  top: 23%;
  left: 18%;
  animation-duration: 10s;
  animation-delay: -2s;
  transform-origin: 15vw -9vh;
  box-shadow: 2vmin 0 0.416277015057372vmin currentColor;
}
.background span:nth-child(16) {
  color: #ff1d1d;
  top: 3%;
  left: 67%;
  animation-duration: 18s;
  animation-delay: -4s;
  transform-origin: -9vw -9vh;
  box-shadow: 2vmin 0 0.337507728700877vmin currentColor;
}
.background span:nth-child(17) {
  color: #ff1d1d;
  top: 80%;
  left: 61%;
  animation-duration: 22s;
  animation-delay: -1s;
  transform-origin: 24vw 24vh;
  box-shadow: -2vmin 0 1.1347973253980608vmin currentColor;
}
.background span:nth-child(18) {
  color: #ff1d1d;
  top: 13%;
  left: 41%;
  animation-duration: 22s;
  animation-delay: -8s;
  transform-origin: -9vw -10vh;
  box-shadow: 2vmin 0 0.9733982803250407vmin currentColor;
}
.background span:nth-child(19) {
  color: #ff1d1d;
  top: 42%;
  left: 77%;
  animation-duration: 7s;
  animation-delay: -13s;
  transform-origin: -18vw 16vh;
  box-shadow: -2vmin 0 0.6236716141167429vmin currentColor;
}
.background span:nth-child(20) {
  color: #ff1d1d;
  top: 22%;
  left: 38%;
  animation-duration: 8s;
  animation-delay: -4s;
  transform-origin: -4vw 22vh;
  box-shadow: 2vmin 0 1.0378978601859243vmin currentColor;
}
.background span:nth-child(21) {
  color: #ff1d1d;
  top: 48%;
  left: 43%;
  animation-duration: 15s;
  animation-delay: -19s;
  transform-origin: 5vw 10vh;
  box-shadow: 2vmin 0 0.8322941943816615vmin currentColor;
}
.background span:nth-child(22) {
  color: #ff1d1d;
  top: 10%;
  left: 6%;
  animation-duration: 16s;
  animation-delay: -20s;
  transform-origin: 4vw 2vh;
  box-shadow: -2vmin 0 0.35581910708623843vmin currentColor;
}
.background span:nth-child(23) {
  color: #ff1d1d;
  top: 88%;
  left: 93%;
  animation-duration: 14s;
  animation-delay: -14s;
  transform-origin: -19vw -8vh;
  box-shadow: -2vmin 0 0.8250175538562079vmin currentColor;
}
.background span:nth-child(24) {
  color: #ff1d1d;
  top: 50%;
  left: 61%;
  animation-duration: 23s;
  animation-delay: -17s;
  transform-origin: 12vw 5vh;
  box-shadow: 2vmin 0 0.5929923623757181vmin currentColor;
}



/* background animation  */



/* .home1{
  display: none;
} */

.home2{
  display: none;
}

/* navbar  end ^^^^^^^*/






/* hero section  */




.hero-img{
  border-radius: 25px;
}


.new_first_blog{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; 
  align-items: center; 
  align-self: center; 
}

.new_inner_blog{
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
  align-items: center;
  top: 16%;
  align-self: center;
}



.new_inner_title h1{
  color: rgb(34, 34, 73);
}

.first_icon{
  background: rgb(34, 34, 73);
  color: #ff1d1d;
  font-size: 30px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 10px 20px 0 10px;
  text-align: center;
  position: relative;
  transition: .7s;
}

.first_icon::before{
    border: 1px solid #b2c0cd;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
}


.icon_title h3{
    text-transform: uppercase;
    font-size: 24px;
    color: white;
}

.first_card:hover .first_icon{
   color: rgb(34, 34, 73);
   background: #ff1d1d;
}

.first_card{
  margin-top : 45px;
}

.card_text p{
  color: white;
}

.card_text a{
  color: #ff1d1d;
  font-weight: 700;
  transition: all .7s ease;
}

.card_text a:hover{
  color: rgb(34, 34, 73);
}



/* hero section  */









/* service  */


/* 
.service_section{
    margin-top: 23%;
  }  */

 







.service_sec_but{
    padding: 9px;
    background-color: rgb(34, 34, 73);
    border: none;
    color:white;
    transition: all .4s ease;
}

.service_sec_but:hover{
    background-color: #ff1d1d;
    border: none;
    color: rgb(34, 34, 73);
}


.form_inner{
    /* margin: 0 auto; */
    width: 400px;
    color: white;
}
.form_input{
    margin-top: 23px;
    /* width: 400px; */
}


.form_section{
  position: relative;
}

.form_input input:focus{
    box-shadow: none;
}

iframe{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}


.map_div{
    border-radius: 5px solid;
}


.form_second_button{
    display: none;
}




.form_span{
    font-size: 12px;
}



.hide_map{
    display: none;
}


.form h1 {
    font-size: 2.3rem;
}






/* scrool  */

.scrool_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

  
.scrool_down {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
.chevron{
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: rgb(34, 34, 73);
  }

  .chevron1:before,
  .chevron1:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #ff1d1d;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

/* scroll  */





/* scrool to top  */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }


    .to_top_btn{
      background-color: #ff1d1d;
        transition: all .4s ease;
    }

    .to_top_btn:hover{
        background-color: #ff1d1d;
        color: rgb(34, 34, 73);

    }

    .to_top_btn:hover i{
        color:rgb(34, 34, 73);
    }

    .to_top_btn i {
      color: rgb(34, 34, 73);

    }


/* scrool to top   */



/* loader  */

.loader_div{
  background: rgb(29, 28, 28);
  position: absolute;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  position: fixed;
}

.loader_div_service{
  background: rgb(29, 28, 28);
  position: absolute;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  position: fixed;
}


.loader {
  position: absolute;
  margin: -18px 0 0 -18px;
  border: 3.6px solid #222249;
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  animation: loader-spin 2s linear infinite reverse;
  /* filter: url(#goo); */
  box-shadow: 0 0 0 1px #222249 inset;
}
.loader:before {
  content: "";
  position: absolute;
  -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
          animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: #ff1d1d;
  transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}





@-webkit-keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}








/* loader  */












/* works  */


.works_item img{
  transition: all .7s;
}



.works_item:hover img{
  transform: scale(1.1);
}






/* works  */







/* footer  */


footer{
  background-color: #222249;  
  /* height: 500px; */
  color: white;
  position: relative;
}

.footer_logo img{
  width: 200px;
  height: 70px;
}



.footer_link_txt{
  position: relative;
}


.footer_link_txt h3{
  padding-bottom: 15px;
  color: white;
}


.footer_links{
  display: flex;
}

.footer_links i{
  font-size: 30px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  transition: all .7s ease;
}

  
.footer_link_txt h3::before{
  position: absolute;
  width: 55px;
  height: 3px;
  background: #ff1d1d;
  content: "";
  left: 0;
  bottom: 0;
}

.footer_service_list{
  padding-left: 0;
}

.footer_service_list li {
  padding-top: 10px;
  color: white;
}

.footer_service_list li a{
  color: white;
  transition: all .7s ease;
}


.footer_links a:hover i{
  color: #ff1d1d;
}

.footer_service_list a:hover {
  color: #ff1d1d;
}


.footer_service_list i{
  color: #ff1d1d;
}

.footer_service_list a {
  padding-left: 10px;
}


.footer_btn{
  padding: 9px;
  background-color: #ff1d1d;
  border: 1px solid;
  color:white;
  transition: all .4s ease;
}

.footer_btn:hover{
  color:#ff1d1d;
  border-color: rgb(44, 44, 79);
}






hr{
  border-top: 2px solid rgb(179, 174, 174);
}

.copyright p{
  padding-bottom: 20px;
  margin-bottom: 0;
  color: white;
}













/* footer  */






























/* media section start  */





@media (max-width:991px) {
    .map_div{
        display: none;
    }
    .form_second_button{
        display: block;
    }
    .icon_title h3{
        font-size: 19px;
    }
    .first_icon i {
    font-size: 25px;
    line-height: normal;
    text-align: center;
    

    } 
.home2_for_mobile_menu{
  display: none;
}

.home2_for_mobile{
  display: block;
}

}



@media (max-width:768px) {
    .card_invincible_mobile{
        display: none;
    }

    .new_inner_blog{
      top: 0;
    }
}
