*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


html{
  scroll-behavior: smooth;
}

.new_first_blog, .service_section, .footere{
  overflow-x: hidden;
  width: 100%; 
}


::selection{
  background-color: #ff1d1d;
  color: white;
}


/* navbar  start */


a{
  text-decoration: none;
}

li{
  list-style: none;
}

/* 
div{
  padding-right: 0;
} */

  
  /* BURGER MENU */
  .custom-toggler .navbar-toggler-icon {
    font-weight: 900;
    box-shadow: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,29,29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .logo-img img {
    width: 200px;
    height: 70px;
  }
  
  .navbar-toggler {
    border: none;
    color: #fff;
    padding: 2px 6px;
  }
  
  .navbar-toggler-icon {
    /* background-color: #fff; */
    color: red;
    font-size: 30px;
  }


  .site-header{
    background-color: rgb(34, 34, 73);
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}



.dropdown-item{
  white-space: break-spaces;
}

  .offcanvas.offcanvas-end{
    width: 300px;
  }

  .offcanvas-header{
    width: 300px;
  }

  .nav-item {
    padding-top: 10px;
    padding-left: 20px;
}


.offcanvas-nav-item{
  font-size: 25px;
}


.nav-pills {
  align-items: center;
  margin-top: 30px;
}

.nav-link{
color:white;
  }

.nav-link:hover{
    color: #ff1d1d;
}

.nav-link:focus{
  color: #ff1d1d;
}

.nav-link:active{
  color: #ff1d1d;
}




/* 
#home1{
  display: none;
} */

#home2{
  display: none;
}

/* navbar  end ^^^^^^^*/

.new_first_blog{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; 
  align-items: center; 
  align-self: center; 
}

.new_inner_blog{
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
  align-items: center;
  top: 16%;
  align-self: center;
}



.new_inner_title h1{
  color: rgb(34, 34, 73);
}

.first_icon{
  background: rgb(34, 34, 73);
  color: #ff1d1d;
  font-size: 30px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 10px 20px 0 10px;
  text-align: center;
  position: relative;
  transition: .7s;
}

.first_icon::before{
    border: 1px solid #b2c0cd;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
}


.icon_title h3{
    text-transform: uppercase;
    font-size: 24px;
}

.first_card:hover .first_icon{
   color: rgb(34, 34, 73);
   background: #ff1d1d;
}

.first_card{
  margin-top : 45px;
}

.card_text a{
  color: #ff1d1d;
  font-weight: 700;
  transition: all .7s ease;
}

.card_text a:hover{
  color: rgb(34, 34, 73);
}



/* service  */


/* 
.service_section{
    margin-top: 23%;
  }  */

 







.service_sec_but{
    padding: 9px;
    background-color: rgb(34, 34, 73);
    border: none;
    color:white;
    transition: all .4s ease;
}

.service_sec_but:hover{
    background-color: #ff1d1d;
    border: none;
    color: rgb(34, 34, 73);
}


.form_inner{
    /* margin: 0 auto; */
    width: 400px;
}
.form_input{
    margin-top: 23px;
    /* width: 400px; */
}


.form_input input:focus{
    box-shadow: none;
}

iframe{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}


.map_div{
    border-radius: 5px solid;
}


.form_second_button{
    display: none;
}




.form_span{
    font-size: 12px;
}



.hide_map{
    display: none;
}


.form h1 {
    font-size: 2.3rem;
}






/* scrool  */

.scrool_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

  
.scrool_down {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
.chevron{
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: rgb(34, 34, 73);
  }

  .chevron1:before,
  .chevron1:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #ff1d1d;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

/* scroll  */





/* scrool to top  */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }


    .to_top_btn{
      background-color: #ff1d1d;
        transition: all .4s ease;
    }

    .to_top_btn:hover{
        background-color: #ff1d1d;
        color: rgb(34, 34, 73);

    }

    .to_top_btn:hover i{
        color:rgb(34, 34, 73);
    }

    .to_top_btn i {
      color: rgb(34, 34, 73);

    }


/* scrool to top   */



/* loader  */

.loader_div{
  background: rgb(29, 28, 28);
  position: absolute;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  position: fixed;
}


.loader {
  position: absolute;
  margin: -18px 0 0 -18px;
  border: 3.6px solid #222249;
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  animation: loader-spin 2s linear infinite reverse;
  /* filter: url(#goo); */
  box-shadow: 0 0 0 1px #222249 inset;
}
.loader:before {
  content: "";
  position: absolute;
  -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
          animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: #ff1d1d;
  transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}





@-webkit-keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}








/* loader  */












/* works  */


.works_item img{
  transition: all .7s;
}



.works_item:hover img{
  transform: scale(1.1);
}






/* works  */







/* footer  */


footer{
  background-color: rgb(34, 34, 73);
  /* height: 500px; */
  color: white;
}

.footer_logo img{
  width: 200px;
  height: 70px;
}



.footer_link_txt{
  position: relative;
}


.footer_link_txt h3{
  padding-bottom: 15px;
  color: white;
}


.footer_links{
  display: flex;
}

.footer_links i{
  font-size: 30px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  transition: all .7s ease;
}

  
.footer_link_txt h3::before{
  position: absolute;
  width: 55px;
  height: 3px;
  background: #ff1d1d;
  content: "";
  left: 0;
  bottom: 0;
}

.footer_service_list{
  padding-left: 0;
}

.footer_service_list li {
  padding-top: 10px;
  color: white;
}

.footer_service_list li a{
  color: white;
  transition: all .7s ease;
}


.footer_links a:hover i{
  color: #ff1d1d;
}

.footer_service_list a:hover {
  color: #ff1d1d;
}


.footer_service_list i{
  color: #ff1d1d;
}

.footer_service_list a {
  padding-left: 10px;
}


.footer_btn{
  padding: 9px;
  background-color: rgb(34, 34, 73);
  border: 1px solid;
  color:white;
  transition: all .4s ease;
}

.footer_btn:hover{
  color:#ff1d1d;
  border-color: rgb(44, 44, 79);
}






hr{
  border-top: 2px solid rgb(179, 174, 174);
}

.copyright p{
  padding-bottom: 20px;
  margin-bottom: 0;
  color: white;
}













/* footer  */






























/* media section start  */





@media (max-width:991px) {
    .map_div{
        display: none;
    }
    .form_second_button{
        display: block;
    }
    .icon_title h3{
        font-size: 19px;
    }
    .first_icon i {
    font-size: 25px;
    line-height: normal;
    text-align: center;
    

    } 
#home2_for_mobile_menu{
  display: none;
}

#home2_for_mobile{
  display: block;
}

}



@media (max-width:768px) {
    .card_invincible_mobile{
        display: none;
    }

    .new_inner_blog{
      top: 0;
    }
}
