*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* navbar  start */


a{
  text-decoration: none;
}


/* 
div{
  padding-right: 0;
} */

.site-header {
    /* background-color: rgb(90, 82, 82); */
    background-color: whitesmoke;
    /* padding-top: 10px; */
    /* padding-bottom: 10px;  */
    /* border-bottom: 3px solid red; */
  }
  
  /* BURGER MENU */
  .custom-toggler .navbar-toggler-icon {
    font-weight: 900;
    box-shadow: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34,34,73,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .logo-img img {
    width: 200px;
    height: 70px;
  }
  
  .navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    padding: 2px 6px;
  }
  
  .navbar-toggler-icon {
    /* background-color: #fff; */
    color: red;
    font-size: 30px;
  }
  



/* navbar  end ^^^^^^^*/

 .new_first_blog{
  width: 100%;
  height: 100vh;
  position: relative;
   overflow: hidden; 
   align-items: center; 
   align-self: center; 
}

.new_inner_blog{
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
  align-items: center;
  top: 16%;
  align-self: center;
}



.new_inner_title h1{
    color: rgb(34, 34, 73);
}

.first_icon{
    background: rgb(34, 34, 73);
    color: #ff1d1d;
    font-size: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 10px 20px 0 10px;
    text-align: center;
    position: relative;
    transition: .7s;
}

.first_icon::before{
    border: 1px solid #b2c0cd;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: -1;
}


.icon_title h3{
    text-transform: uppercase;
    font-size: 24px;
}

.first_card:hover .first_icon{
   color: rgb(34, 34, 73);
   background: #ff1d1d;
}

.first_card{
  margin-top : 45px;
}

.card_text a{
  color: #ff1d1d;
  font-weight: 700;
  transition: all .7s ease;
}

.card_text a:hover{
  color: rgb(34, 34, 73);
}



/* service  */


/* 
.service_section{
    margin-top: 23%;
  }  */





.service_sec_but{
    padding: 9px;
    background-color: rgb(34, 34, 73);
    border: none;
    color:white;
    transition: all .4s ease;
}

.service_sec_but:hover{
    background-color: #ff1d1d;
    border: none;
    color: rgb(34, 34, 73);
}


.form_inner{
    /* margin: 0 auto; */
    width: 400px;
}
.form_input{
    margin-top: 23px;
    /* width: 400px; */
}


.form_input input:focus{
    box-shadow: none;
}

iframe{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}


.map_div{
    border-radius: 5px solid;
}


.form_second_button{
    display: none;
}




.form_span{
    font-size: 12px;
}



.hide_map{
    display: none;
}


.form h1 {
    font-size: 2.3rem;
}





/* scrool  */

.scrool_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

  
  .scrool_down {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .chevron{
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: rgb(34, 34, 73);
  }

  .chevron1:before,
  .chevron1:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #ff1d1d;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

/* scroll  */





/* scrool to top  */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 80px;
    display: none;
    }


    .to_top_btn{
        background-color: rgb(34, 34, 73);
        transition: all .4s ease;
    }

    .to_top_btn:hover{
        background-color: #ff1d1d;
        color: rgb(34, 34, 73);

    }

    .to_top_btn:hover i{
        color:rgb(34, 34, 73)
    }

    .to_top_btn i {
        color: #ff1d1d;
    }


/* scrool to top   */


.row{
  margin-right: 0;
}






@media (max-width:991px) {
    .map_div{
        display: none;
    }
    .form_second_button{
        display: block;
    }
    .icon_title h3{
        font-size: 19px;
    }
    .first_icon i {
    font-size: 25px;
    line-height: normal;
    text-align: center;
    

    }
}



@media (max-width:768px) {
    .card_invincible_mobile{
        display: none;
    }

    .new_inner_blog{
      top: 0;
    }
}